@{
    ViewBag.Title = "History";
    @
}
<h1>Order History</h1>
<h3></h3>
<table>
    <tr>
        <td>ID</td>
        <td>Turnover</td>
        <td>Price to competitors</td>
        <td>Total price</td>
        <td>Hours</td>
        <td>Route</td>
        <td>Customer paid</td>
        <td> Employee ID</td>
        <
    </tr>

    @foreach (var order in Orders)
    {
        <tr>
            <td>
                @order.ID
            </td>
            <td>
                @order.
            </td>
        </tr>
    }
</table> 


<p>Use this area to provide additional information.</p>
