@model telstarapp.Models.User

<section>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        @using (Html.BeginForm("loginsubmit", "Home", FormMethod.Post))
                        {
                            <img src="~/Resources/TelstarLogo.PNG" class="center-block" />
                            <br />
                            <br />
                            <div>
                                @Html.TextBoxFor(a => a.Email, new { @class = "form-input" })
                                <label class="form-label" for="typeEmailX-2">Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                @Html.TextBoxFor(a => a.Password, new { @class = "form-input" })
                                <label class="form-label" for="typePasswordX-2">Password</label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Pay</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>