
<div>
    <div>
        <div>
            <div>
                <div>
                    <img src="~/Resources/TelstarLogo.PNG" class="center-block" />
                    </br>
                    </br>
                    <div style="text-align:center">
                        <input type="email" class="form-input" />
                        <label class="form-label" for="typeEmailX-2">Email</label>

                        <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                        <label style="text-align:center" for="typePasswordX-2">Password</label>
                    </div>
                    </br>
                    <button class="btn btn-lg center-block" type="submit">Login</button>


                </div>
            </div>
        </div>
    </div>
</div>